/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
    display: none;
}

/* Remove Big Nitro Button */
#private-channels-2.clickable-1JJAn8 {
    display: none;
}

/* Remove nitro option in messages*/
.container_b15955:nth-of-type(2){ 
    display: none;
}

/* Remove shop option in messages*/
.container_b15955:nth-of-type(3){ 
    display: none;
}