@import url('https://l-ratio.github.io/OperaGXTheme/release/main.css');

:root {
  --background: transparent;
  --background-behind-appmount: 8, 5, 14;
  --background-accent-color-1: 5,8,29,1;
  --accent-color-1: 235,35,43;
  --accent-color-2: 124,11,16;
  --border-brightness: 1;
  --dark-background-color: 0,0,0;
  --darker-background-color: 0,0,0;
  --wintitlebar-transparency: 1;
  --header-transparency: 1;
  --serverlist-transparency: 1;
  --channels-transparency: 0;
  --chat-transparency: 0;
  --memberlist-transparency: 0;
  --wintitlebar-background-blur: 0px;
  --header-background-blur: 0px;
  --serverlist-background-blur: 0px;
  --channels-background-blur: 0px;
  --chat-background-blur: 0px;
  --memberlist-background-blur: 0px;
  --customFont: Noto Sans Mono;
  --codeBlocksCustomFont: Noto Sans Mono;
  --fullwhite-font: 235,35,43;
  --normal-font: 124,11,16;
  --normal-hover-font: 20,36,116;
  --muted-font: 20,36,116;
  --link-text: 55,148,255;
  --gx-red: 181,32,63 ;
  --gx-red-2: 181,32,63 ;
  --gx-yellow: 234, 234, 34  ;
  --gx-yellow-2: 255, 255, 68 ;
  --gx-green: 0, 212, 81 ;
  --gx-green-2: 0, 255, 129 ;
  --font-in-accent: 0, 0, 0  ;
  --category-name-transform: unset;
  --chatbox-transparency: 1;
  --chatbox-focused-transparency: 1;
  --other-highlighted-transparency: 1;
  --other-transparency: 1;
  --wintitlebar-transparency-color: var(--dark-background-color) ;
  --wintb-focused-alpha: 1;
  --wintb-focused-color: var(--darker-background-color);
  --header-transparency-color: var(--dark-background-color);
  --serverlist-transparency-color: var(--dark-background-color);
  --channels-transparency-color: var(--dark-background-color);
  --chat-transparency-color: var(--dark-background-color);
  --memberlist-transparency-color: var(--dark-background-color);
}